a{
    text-decoration: none;
}
ul,
ol{
    list-style: none;
}
body{
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}
/*  Our team */

/* Опис секції команда */
.teame{
    /* width: 1600px;
    height: 648px; */
    width: 1400px;
    height: 500px;
    background: #F5F4FA;
    }

    .team_1{
        margin: 0 auto;
        /* width: 214px; */
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    }
    /* Стилювання карточек */
    .teame_card{
        display: flex;
        gap: 30px;
        
    }
    .our_team{
        width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }
    
    .foto{
    width: 270px;
    height: 260px;
    border-radius: 0px;

    }
    .team_member{
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
    color: #212121;
    margin-top: 20px;
    }
    
    .information{
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
    color: #757575;
    margin-top: 5px;
    }
    
    /* footer */

    .footer1{
        height: 252px;
        background: #2F303A;
        padding-top: 60px;
        }
        
        .name_footer{
        width: 145px;
        height: 31px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        padding-left: 215px;
        }
        
        .logo_footer{
            width: 145px;
        height: 31px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        }
        
        
        address>p{
        width: 231px;
        height: 21px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        padding-left: 215px;
        padding-top: 5px;
        
        }
        
        .dictates{
        height: 21px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        padding-left: 175px;
        color: rgba(255, 255, 255, 0.6);
        
        }